In [138]:
import pandas as pd
from data_cleaning import *
%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

#### Import the data

In [179]:
df = pd.DataFrame.from_csv('data/all_skier_counts.csv')

#### Look at the data. Make sure the index column is correct.

In [160]:
df.head()

               away_WP  to_WP  day_of_week  skiers
FormattedDate
2011-11-12        2075   2119            5       0
2011-11-13        2882   1371            6      44
2011-11-14        1720   1607            0   -1467
2011-11-15        1539   1804            1   -1580
2011-11-16        1695   1808            2   -1315

#### Get a list of the column names

In [161]:
col_names = list(df.columns.values)

#### Look at the datatypes and unique valules in each column.

In [162]:
print_col_datatype_and_unique_values(df, col_names)

away_WP : float64
[ 2075.  2882.  1720.  1539.  1695.  1890.  2008.  1922.  3566.  2202.
  2294.  2723.  1911.  3131.  4287.  3029.  1976.  1696.  1851.  1181.
  1891.  2467.  3790.  1660.  1703.  1866.  1728.  2074.  3360.  4003.
  1761.  1803.  1980.  2433.  3240.  3959.  2866.  2817.  3232.  2247.
  3815.  2582.  2246.  4887.  4241.  4208.  4260.  4908.  3346.  5730.
  6268.  2924.  2334.  2359.  2638.  3077.  2387.  2110.  1670.  2681.
  2996.  4044.  5571.  5002.  2280.  1883.  1792.  2568.  4002.  7332.
  2682.  1854.  2260.  2317.     0.  4862.  8060.  3122.  2978.  2266.
  2119.  3380.  5819.  2497.  1710.  2084.  2186.  2757.  4506.  7601.
  2795.  2052.  2194.  2486.  3385.  4542.  6623.  3989.  3009.  1043.
  3352.  4996.  7147.  2938.  1607.  2386.  4848.  8124.  2966.  2356.
  1947.  2347.  2983.  4336.  1949.  2821.  2506.  2687.  2787.  3291.
  3821.  4877.  2180.  2325.  2533.  2503.  2945.  3573.  4635.  2837.
  2571.  2574.  2639.  3070.  3250.  4210.  1418.  1861.  1965.  2274.
  2535.  2786.  1790.  1632.  1717.  1711.  1877.  1600.  1681.  1580.
  1537.  1524.  1806.  2095.  3571.    nan  1775.  1765.  1889.  2081.
  3084.  2062.  2063.  2452.  1606.  2910.  3756.  4037.  1691.  1489.
  1569.  1812.  2623.  3278.  1619.  1506.  1665.  1472.  1729.  2218.
  3709.  1650.  1556.  2058.  2104.  3083.  4333.  2316.  1899.  2044.
  2886.  3244.  3570.  3259.  2526.  4084.  4022.  5407.  5443.  4031.
  6971.  3783.  4313.  5692.  6573.  3051.  2328.  2558.  2599.  3147.
  5051.  2060.  1830.  2255.  2393.  3096.  4526.  6446.  6284.  2344.
  2055.  1998.  2195.  4269.  7131.  2332.  1944.  1936.  2116.  3031.
  5237.  7605.  3407.  3019.  2342.  2277.  2923.  4110.  8294.  3100.
  2348.  2333.  3731.  4813.  6977.  6758.  3341.  2208.  1787.  2892.
  4993.  5898.  3214.  1963.  2634.  2513.  3496.  5234.  8610.  2793.
  2449.  2555.  2529.  3039.  2030.  5456.  2403.  2871.  2916.  3538.
  4194.  5748.  2861.  2622.  2709.  2633.  3140.  2627.  5139.  3222.
  3528.  3529.  4042.  4558.  4515.  2534.  1958.  2123.  2488.  2544.
  3081.  4163.  1927.  1045.  1767.  1754.  2133.  4079.  1052.  1685.
  2211.  2922.  3417.  6391.  1659.  1714.  1935.  2005.  3362.  1821.
  1642.  1638.  1269.  1509.  2006.  2927.  2085.  2693.  1954.  3517.
  4777.  5048.  1328.  1038.  1467.  1673.  3146.  3857.  1826.  1637.
  1939.  2068.  2189.  3964.  5638.  2521.  2177.  2367.  2230.  3457.
  4369.  4304.  3086.  3020.  4229.  5236.  5285.  5781.  5740.  4068.
  6981.  5351.  5410.  4497.  6095.  3032.  2443.  2378.  2594.  2605.
  5209.  5925.  2427.  1719.  2541.  2457.  2994.  5263.  5486.  6929.
  2440.  2152.  1835.  2423.  4597.  7747.  2136.  2190.  2221.  1810.
  2734.  4589.  6075.  2948.  1734.  1791.  1759.  2663.  4366.  7308.
  2229.  2527.  2269.  3309.  3978.  6620.  7157.  3092.  2157.  2758.
  4690.  8470.  3124.  1925.  2379.  2420.  3099.  4356.  4766.   733.
  2494.  2552.  4836.  2615.  2960.  1917.  2819.  2904.  3684.  4129.
  6787.  2760.  2782.  2865.  3167.  3945.  6321.  3265.  3174.  3243.
  2888.  3961.  4536.  5884.  2510.  2073.  2076.  2279.  3264.  3306.
  4968.  2187.  1901.  1855.  2812.  4024.  2176.  1822.  1678.  1836.
  2434.  2864.  4505.  2493.  1686.  1704.  1956.  2306.  3390.  1716.
  1544.  1702.  1692.  2360.  2857.  1952.  2010.  2654.  1843.  3906.
  5075.  5192.  1995.  1694.  1676.  3818.  4686.  1941.  1745.  1860.
  1918.  2146.  3287.  4191.  2765.  2183.  3046.  3949.  4562.  3491.
  3995.  3370.  2445.  3477.  5310.  5459.  3801.  3191.  3832.  5268.
  6694.  6661.  6684.  3420.  2628.  2326.  2647.  2698.  4990.  6317.
  2514.  2597.  4266.  6615.  6871.  2135.  2591.  2947.  5349.  8318.
  2989.  2111.  2064.  2091.  2659.  4451.  7561.  2815.  2145.  1900.
  3128.  3238.  5221.  8542.  2858.  1908.  2314.  3467.  3955.  6259.
  6074.  3273.  2603.  2657.  3004.  6860.  3305.  2179.  2132.  2958.
  4645.  8199.  2933.  2096.  2664.  3445.  5306.  2200.  3037.  2608.
  2684.  2726.  3115.  4671.  6361.  3022.  2878.  2640.  3605.  4306.
  5422.  3104.  2881.  3204.  3626.  4033.  4283.  5425.  2753.  2215.
  2288.  1994.  3072.  3659.  3776.  1858.  1968.  2252.  2635.  3492.
  1987.  1870.  1715.  1492.  3000.  3896.  2205.  2077.  1747.  2223.
  2606.  4610.]
to_WP : float64
[ 2119.  1371.  1607.  1804.  1808.  1916.  3207.  2637.  2282.  2113.
  2664.  4357.  2704.  4319.  2846.     0.  1570.  1719.  1892.  1335.
  3517.  2795.  2065.  1540.  1698.  1894.  1979.  3536.  3585.  2293.
  1843.  1785.  1825.  2257.  4203.  4195.  3141.  2724.  3029.  3261.
  2653.  4680.  3028.  2802.  5775.  4642.  4611.  4682.  5916.  3391.
  2700.  3267.  2294.  2303.  2490.  4091.  3199.  2904.  2066.  2069.
  1737.  3030.  5877.  5440.  3287.  2370.  2019.  1835.  2326.  5829.
  4981.  3401.  1978.  1799.  2380.  3112.  3268.  5658.  4229.  2676.
  2142.  3108.  3731.  2848.  1796.  1733.  2302.  2665.  6234.  5213.
  3338.  2155.  2024.  2416.  3521.  7731.  6345.  4116.  2249.  2075.
  1691.  6411.  5498.  3134.  1640.  2567.   843.  3982.  5345.  3509.
  2253.  2264.  2077.  2827.  5594.  5520.  2543.  2352.  2560.  2865.
  4648.  4145.  2718.  2014.  2238.  2453.  2797.  4555.  4293.  2896.
  2400.  2408.  2675.  2892.  3767.  2938.  1971.  1494.  1353.  1874.
  2158.  3001.  2327.  1485.  1520.  1616.  1675.  1728.  2476.  1893.
  1578.  1447.  1551.  1573.  1661.  2960.  2725.  1912.    nan  1861.
  1932.  3012.  2627.  1778.  2050.  2480.  3941.  2288.  3722.  2276.
  1411.  1325.  1510.  1627.  1683.  2977.  3007.  1834.  1509.  1486.
  1602.  1648.  3081.  2781.  1983.  1480.  1624.  1815.  2280.  3676.
  3662.  2646.  2006.  2206.  2217.  3276.  5032.  5142.  3784.  3069.
  2573.  5026.  5183.  6651.  6092.  4805.  4050.  3616.  3422.  3768.
  5621.  5289.  3779.  2336.  2210.  2749.  4453.  3457.  2393.  1781.
  2405.  2981.  6813.  6207.  4043.  2727.  2016.  2134.  2529.  5652.
  5001.  2912.  1724.  2004.  2100.  6329.  5933.  4279.  2760.  2362.
  2373.  2897.  6500.  5160.  3996.  2261.  2289.  2493.  8331.  6269.
  4311.  2805.  2508.  2323.  2485.  6167.  5576.  2185.  1777.  2726.
  3477.  7437.  5784.  3639.  2162.  2412.  2599.  3535.  8765.  3210.
  2818.  2822.  3004.  5475.  4785.  3284.  2469.  2430.  2564.  2829.
  5350.  3304.  3542.  3009.  3115.  3499.  3909.  4728.  3620.  1872.
  2136.  2515.  3470.  3253.  2097.  1617.  1003.  1732.  2096.  3545.
  3084.  2304.  1143.  1982.  1672.  2459.  4906.  4422.  3359.  1791.
  1923.  3269.  2211.  1453.  1666.  1292.  2936.  2042.  2041.  2540.
  4246.  2684.  4694.  3197.  1865.  1579.  1544.  1190.  1692.  3145.
  3603.  1747.  2260.  4321.  4659.  3365.  2152.  2200.  2630.  4628.
  5015.  4001.  4299.  3563.  3384.  5805.  7241.  5831.  4570.  5492.
  5065.  4681.  4436.  6077.  3863.  2785.  2458.  2361.  2852.  5570.
  5669.  2439.  1877.  1646.  2596.  3021.  7369.  6432.  3158.  3011.
  2199.  2579.  6463.  5286.  3245.  1563.  2164.  2389.  3045.  5773.
  4853.  2815.  1710.  1863.  2542.  6546.  4934.  3037.  1459.  2329.
  2522.  3704.  8141.  5451.  4056.  2398.  2415.  2948.  6916.  5230.
  3714.  2144.  1924.  3124.  7066.  4820.  2073.  2624.  3310.  4381.
  6809.  2666.  1870.  2849.  3142.  6110.  4834.  3842.  2396.  2058.
  3046.  5548.  4736.  4035.  2987.  3150.  3281.  5555.  4106.  2728.
  1928.  2159.  2587.  3493.  2660.  1686.  1779.  1940.  2145.  3641.
  3308.  2222.  1671.  1746.  1657.  2231.  3389.  2044.  1748.  1590.
  1601.  1911.  2930.  2641.  1632.  1964.  1489.  1493.  1531.  1714.
  3125.  1965.  2337.  4467.  2738.  5106.  3274.  1914.  1564.  1688.
  1725.  3937.  4376.  2455.  1680.  1673.  1869.  2112.  3720.  2395.
  2228.  2275.   227.  5245.  5553.  3840.  3580.  4154.  4095.  3502.
  5225.  5478.  4136.  3297.  3392.  5651.  4362.  5702.  4072.  2342.
  2394.  2833.  5162.  4706.  1884.    90.  3221.  7282.  6008.  4023.
  2081.  3471.  7114.  6002.  1987.  2008.  2191.  2900.  6595.  4915.
  3364.  1784.  2135.  2092.  3998.  7332.  5771.  3553.  1966.  1954.
  2532.  3832.  7733.  5297.  3424.  2519.  2755.  3518.  8018.  4102.
  2239.  2226.  2208.  2994.  6996.  5197.  3488.  2078.  2234.  3599.
  7284.  6021.  2510.  3010.  5745.  5461.  2668.  2836.  5306.  4749.
  2717.  2745.  3292.  4042.  5394.  4157.  2720.  2150.  2129.  4015.
  1824.  1903.  2000.  3206.  2835.  1943.  1612.  1766.  1614.  3237.
  3251.  1909.  2035.  1950.  1977.  3877.  3399.  2103.]
day_of_week : float64
[  5.   6.   0.   1.   2.   3.   4.  nan]
skiers : float64
[  0.00000000e+00   4.40000000e+01  -1.46700000e+03  -1.58000000e+03
  -1.31500000e+03  -1.20200000e+03  -1.17600000e+03   2.30000000e+01
   7.38000000e+02  -5.46000000e+02  -6.35000000e+02  -2.65000000e+02
   1.36900000e+03   2.16200000e+03   3.35000000e+03   3.21000000e+02
  -8.50000000e+01  -6.20000000e+01  -2.10000000e+01   1.33000000e+02
   1.75900000e+03   2.08700000e+03   3.62000000e+02   2.42000000e+02
   2.37000000e+02   2.65000000e+02   5.16000000e+02   1.97800000e+03
   2.20300000e+03   4.93000000e+02   3.28000000e+02   3.52000000e+02
   3.74000000e+02   6.51000000e+02   2.42100000e+03   3.37600000e+03
   2.55800000e+03   2.41600000e+03   2.62800000e+03   2.65700000e+03
   3.06300000e+03   3.92800000e+03   4.37400000e+03   4.93000000e+03
   5.81800000e+03   6.21900000e+03   6.62200000e+03   7.04400000e+03
   8.05200000e+03   8.09700000e+03   5.06700000e+03   2.06600000e+03
   1.43600000e+03   1.40500000e+03   1.53600000e+03   2.98900000e+03
   3.11100000e+03   1.12800000e+03   8.07000000e+02   7.66000000e+02
   8.33000000e+02   1.18200000e+03   4.06300000e+03   5.45900000e+03
   3.17500000e+03   5.43000000e+02   2.82000000e+02   2.34000000e+02
   7.68000000e+02   4.02900000e+03   5.00800000e+03   1.07700000e+03
   3.73000000e+02   3.18000000e+02   4.38000000e+02   1.23300000e+03
   4.50100000e+03   5.29700000e+03   1.46600000e+03   1.02000000e+03
   1.84000000e+02   2.12000000e+02   1.20100000e+03   4.46900000e+03
   4.82000000e+03   1.84900000e+03   1.14800000e+03   1.17100000e+03
   1.38900000e+03   1.86800000e+03   5.34500000e+03   6.05200000e+03
   1.78900000e+03   1.14900000e+03   1.12100000e+03   1.34300000e+03
   2.37800000e+03   6.72400000e+03   8.52700000e+03   6.02000000e+03
   2.03100000e+03   1.27100000e+03   1.27200000e+03   1.92000000e+03
   4.97900000e+03   5.48100000e+03   1.46800000e+03   6.72000000e+02
   7.05000000e+02   8.86000000e+02   1.72900000e+03   5.71100000e+03
   6.20800000e+03   1.59300000e+03   8.80000000e+02   7.88000000e+02
   9.18000000e+02   1.39800000e+03   4.00900000e+03   5.19300000e+03
   3.24400000e+03   2.96600000e+03   2.81200000e+03   2.68500000e+03
   2.76300000e+03   4.12000000e+03   4.44400000e+03   2.28500000e+03
   2.11900000e+03   2.03200000e+03   1.95200000e+03   2.24600000e+03
   3.85600000e+03   4.57600000e+03   2.83700000e+03   2.40000000e+03
   2.23700000e+03   2.33800000e+03   2.59100000e+03   3.28800000e+03
   2.97600000e+03   7.37000000e+02   3.41000000e+02   2.76000000e+02
   2.89000000e+02   4.82000000e+02   1.20900000e+03   1.00100000e+03
  -3.00000000e+02  -5.70000000e+02  -5.86000000e+02  -6.28000000e+02
  -6.11000000e+02  -1.20000000e+01   2.81000000e+02  -6.08000000e+02
  -8.42000000e+02  -8.71000000e+02  -8.35000000e+02  -6.98000000e+02
   4.56000000e+02   1.08600000e+03  -5.73000000e+02              nan
   8.60000000e+01   2.53000000e+02   1.37600000e+03   1.92200000e+03
   6.16000000e+02   6.04000000e+02   1.02100000e+03   2.51000000e+03
   3.19200000e+03   4.00400000e+03   2.52400000e+03  -1.02000000e+02
  -4.68000000e+02  -4.47000000e+02  -3.89000000e+02  -3.12000000e+02
   8.53000000e+02   1.23700000e+03  -2.07000000e+02  -3.17000000e+02
  -3.37000000e+02  -4.00000000e+02  -2.24000000e+02   1.69100000e+03
  -3.50000000e+01  -2.05000000e+02  -1.37000000e+02  -1.12000000e+02
   1.10000000e+02   1.68200000e+03   2.26100000e+03   5.74000000e+02
   2.64000000e+02   5.71000000e+02   7.44000000e+02   1.13400000e+03
   2.92200000e+03   4.49400000e+03   4.28900000e+03   4.09900000e+03
   4.14600000e+03   5.08800000e+03   6.24900000e+03   7.89800000e+03
   8.58300000e+03   7.94500000e+03   7.96400000e+03   4.60900000e+03
   3.77100000e+03   3.75600000e+03   5.06400000e+03   4.66100000e+03
   1.86700000e+03   1.15200000e+03   1.03400000e+03   9.84000000e+02
   1.17500000e+03   3.02900000e+03   3.33900000e+03   6.81000000e+02
   3.19000000e+02   2.70000000e+02   4.20000000e+02   1.00800000e+03
   4.72500000e+03   6.40600000e+03   4.00300000e+03   4.46000000e+02
   1.18000000e+02   1.97000000e+02   7.28000000e+02   4.18500000e+03
   4.91700000e+03   6.98000000e+02   9.00000000e+01   1.50000000e+02
   3.14000000e+02   9.16000000e+02   4.21400000e+03   4.91000000e+03
   1.58400000e+03   9.37000000e+02   2.80000000e+02   3.11000000e+02
   9.31000000e+02   4.50800000e+03   5.55800000e+03   1.26000000e+03
   4.21000000e+02   5.22000000e+02   1.51600000e+03   6.11600000e+03
   7.57200000e+03   4.90600000e+03   9.53000000e+02   1.20000000e+02
   2.35000000e+02   9.33000000e+02   4.20800000e+03   4.79100000e+03
   1.07800000e+03   2.20000000e+01  -1.64000000e+02  -7.20000000e+01
   8.92000000e+02   4.83300000e+03   5.38300000e+03   4.12000000e+02
  -2.19000000e+02  -2.56000000e+02  -2.12000000e+02   7.94000000e+02
   6.52000000e+03   4.49000000e+03   1.85200000e+03   1.85700000e+03
   1.80800000e+03   1.89600000e+03   3.83300000e+03   4.42400000e+03
   1.96000000e+03   1.56800000e+03   1.23100000e+03   1.42700000e+03
   3.63700000e+03   4.31400000e+03   2.71700000e+03   2.57900000e+03
   2.47200000e+03   2.44300000e+03   2.82300000e+03   3.50900000e+03
   2.57100000e+03  -7.40000000e+01  -1.60000000e+02  -1.47000000e+02
  -1.20000000e+02   8.06000000e+02   9.78000000e+02  -1.08800000e+03
  -1.39800000e+03  -1.44000000e+03  -1.47500000e+03  -1.13300000e+03
   2.79000000e+02   6.40000000e+02  -1.13500000e+03  -1.04400000e+03
  -1.12400000e+03  -1.13700000e+03  -8.89000000e+02   1.09500000e+03
   2.10000000e+03  -9.32000000e+02   1.32000000e+02   1.67500000e+03
   1.88100000e+03  -2.80000000e+01  -2.47000000e+02  -2.23000000e+02
  -2.91000000e+02  -2.68000000e+02   1.02500000e+03   1.95500000e+03
   1.07000000e+03   1.02600000e+03   1.38000000e+03   2.93300000e+03
   3.66300000e+03   4.84000000e+03   3.26000000e+03   7.70000000e+01
  -3.09000000e+02  -9.30000000e+01   5.90000000e+01   2.84000000e+02
   1.75600000e+03   2.21300000e+03   3.98000000e+02   1.79000000e+02
   5.13000000e+02   2.64500000e+03   3.34000000e+03   1.06700000e+03
   7.21000000e+02   7.24000000e+02   1.12400000e+03   3.17000000e+03
   4.72800000e+03   4.36000000e+03   4.35500000e+03   4.83200000e+03
   5.19600000e+03   6.77200000e+03   8.77700000e+03   9.32300000e+03
   8.11200000e+03   7.86400000e+03   8.86100000e+03   6.56100000e+03
   5.64600000e+03   6.31300000e+03   5.67900000e+03   2.36900000e+03
   1.58600000e+03   1.60100000e+03   1.84200000e+03   4.80700000e+03
   5.26700000e+03   1.78100000e+03   1.15800000e+03   1.21300000e+03
   1.77700000e+03   6.15200000e+03   7.32100000e+03   4.99300000e+03
   1.07500000e+03   7.87000000e+02   8.34000000e+02   1.57800000e+03
   5.61800000e+03   6.30700000e+03   1.80500000e+03   1.23200000e+03
   1.20600000e+03   1.37400000e+03   2.60900000e+03   5.64800000e+03
   5.91200000e+03   2.65200000e+03   1.77000000e+03   1.74600000e+03
   1.81800000e+03   2.60100000e+03   6.48400000e+03   7.05200000e+03
   2.78100000e+03   2.01100000e+03   1.81300000e+03   2.00200000e+03
   3.43700000e+03   8.26900000e+03   9.74200000e+03   7.17800000e+03
   2.88600000e+03   2.19200000e+03   2.26500000e+03   3.05600000e+03
   7.21400000e+03   7.75400000e+03   2.99800000e+03   2.01800000e+03
   2.01700000e+03   2.18000000e+03   2.88400000e+03   6.85100000e+03
   2.08500000e+03   1.35200000e+03   1.33000000e+03   1.46000000e+03
   2.21800000e+03   4.08600000e+03   6.05900000e+03   3.44400000e+03
   3.15000000e+03   3.10300000e+03   3.13300000e+03   3.37100000e+03
   5.79700000e+03   6.50200000e+03   3.55700000e+03   3.19300000e+03
   3.06200000e+03   2.96400000e+03   3.14500000e+03   5.52600000e+03
   6.31700000e+03   4.03100000e+03   3.63100000e+03   3.35100000e+03
   3.74400000e+03   5.33800000e+03   4.90800000e+03   1.75200000e+03
   1.17000000e+03   1.10800000e+03   1.41600000e+03   2.88000000e+03
   3.06700000e+03   7.59000000e+02   2.58000000e+02   1.83000000e+02
   2.22000000e+02   5.12000000e+02   1.95800000e+03   2.45400000e+03
   6.52000000e+02   1.47000000e+02   7.10000000e+01   5.00000000e+01
   4.45000000e+02   2.31000000e+03   2.83500000e+03  -3.71000000e+02
  -4.67000000e+02  -5.08000000e+02  -3.01000000e+02   6.73000000e+02
   1.63200000e+03   1.90100000e+03  -2.36000000e+02  -5.50000000e+01
   1.26700000e+03   1.11500000e+03   1.45500000e+03   3.26800000e+03
   4.16300000e+03   5.36300000e+03   3.56200000e+03  -1.53000000e+02
  -1.04000000e+02   1.55000000e+02   2.08400000e+03   2.64200000e+03
   4.11000000e+02   7.80000000e+01   8.70000000e+01   2.04400000e+03
   2.47700000e+03   7.76000000e+02   4.06000000e+02   4.51000000e+02
   5.40000000e+02   7.67000000e+02   4.57000000e+03   3.84800000e+03
   3.93700000e+03   4.09600000e+03   4.82100000e+03   5.87800000e+03
   7.62600000e+03   7.79400000e+03   6.47100000e+03   5.96700000e+03
   6.16800000e+03   7.98700000e+03   7.08100000e+03   6.08900000e+03
   3.50000000e+03  -1.72000000e+02  -1.25000000e+03  -1.48400000e+03
  -1.52800000e+03  -1.34200000e+03   1.12200000e+03   8.38000000e+02
  -2.69800000e+03  -3.28000000e+03  -3.33100000e+03  -3.24100000e+03
  -2.61700000e+03   1.56500000e+03   3.30700000e+03   7.15000000e+02
  -3.30700000e+03  -3.52000000e+03  -3.41700000e+03  -2.53700000e+03
   1.63000000e+03   2.28300000e+03  -2.25600000e+03  -3.25800000e+03
  -3.36100000e+03  -3.23400000e+03  -2.42500000e+03   1.51100000e+03
   1.97500000e+03  -2.22200000e+03  -3.25300000e+03  -3.26300000e+03
  -3.07100000e+03  -2.20100000e+03   1.89300000e+03  -2.54600000e+03
  -3.43800000e+03  -3.39200000e+03  -3.17400000e+03  -1.83000000e+03
   2.43600000e+03   3.77800000e+03   9.43000000e+02  -2.77900000e+03
  -3.53300000e+03  -3.38100000e+03  -2.52000000e+03   2.49400000e+03
   2.69000000e+03  -1.93100000e+03  -3.01000000e+03  -3.04200000e+03
  -3.01300000e+03  -2.15100000e+03   1.88700000e+03   2.43900000e+03
  -2.27200000e+03  -3.12700000e+03  -3.26700000e+03  -3.12900000e+03
  -2.19400000e+03   1.64500000e+03   2.36000000e+03   1.60000000e+02
  -3.67000000e+02  -4.60000000e+02  -4.69000000e+02  -1.85000000e+02
   2.44500000e+03   3.23500000e+03   8.70000000e+02   3.06000000e+02
   8.10000000e+01   2.77000000e+02   3.83000000e+02  -4.00000000e+00
  -1.40000000e+02  -5.20000000e+01   3.64000000e+02   1.72500000e+03
   1.59900000e+03  -1.10600000e+03  -1.70900000e+03  -1.79500000e+03
  -1.46200000e+03  -5.19000000e+02  -8.13000000e+02  -2.57000000e+03
  -2.87200000e+03  -2.90600000e+03  -2.97100000e+03  -2.82900000e+03
  -1.87500000e+03  -1.67500000e+03  -3.22400000e+03  -3.59900000e+03
  -3.70300000e+03  -3.80400000e+03  -3.65600000e+03  -2.39900000e+03
  -2.14800000e+03  -3.70700000e+03  -4.00300000e+03  -4.04500000e+03
  -4.05300000e+03  -3.82300000e+03  -2.16900000e+03  -1.37600000e+03
  -3.88300000e+03]

#### Drop any unwanted columns

In [163]:
#df.drop(['col_1_name', 'col_2_name'], axis=1, inplace=True)

In [164]:
df.head()

               away_WP  to_WP  day_of_week  skiers
FormattedDate
2011-11-12        2075   2119            5       0
2011-11-13        2882   1371            6      44
2011-11-14        1720   1607            0   -1467
2011-11-15        1539   1804            1   -1580
2011-11-16        1695   1808            2   -1315

#### Save and print column names for columns that contain NaNs.

In [165]:
nan_columns = find_columns_containing_nan(df, col_names)

Columns containing NaNas:  ['away_WP', 'to_WP', 'day_of_week', 'skiers']

#### Decide how to deal with Nans (1 = delete all rows containing NaN, 2 = replace with empty strings, 3 = fill with mean of column, 4 = fill with previous value with limit of 1 value forward, 5 = delete all columns containing NaN, 6 = fill by interpolating). Information for more complex interpolation methods available at: http://pandas.pydata.org/pandas-docs/stable/missing_data.html

In [180]:
fill_method = 6
df = replace_missing_values(df, fill_method)

In [181]:
nan_columns = find_columns_containing_nan(df, col_names)

Columns containing NaNas:  []